{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet'>
    <link rel='stylesheet' href='{% static 'main/css/main.css' %}'>
    <link rel='stylesheet' href='{% static 'main/css/base_for_auth_pages.css' %}'>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>
<div class="top_block">
    <h1>{% block header %}{% endblock %}</h1>
</div>
<div class='center_block'>
    <div class='block_main'>
        {% block div_content %}{% endblock %}
    </div>
    <div>
        {% block other_body %}{% endblock %}
    </div>
</div>
<div class='bottom_block'>
    <div class="info_block">
        <div>
            <a href='https://gitlab.com/Klin-0k/messenger'>About</a>
        </div>
        <div>
            <a href='https://klinok.pro'>Contact us</a>
        </div>
    </div>
    <div>
        <p>Copyright © 2024 klinok.pro - All Rights Reserved.</p>
    </div>
</div>
</body>
</html>